@font-face {
    font-family: 'poppins';
    src: url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
}

// RESPONSIVE
@mixin smallMobile() {
    @media screen and (min-width: 325px) {
        @content;
    }
}

@mixin mobile() {
    @media screen and (min-width: 850px) {
        @content;
    }
}

@mixin tablet() {
    @media screen and (min-width: 1024px) {
        @content;
    }
}

@mixin desktop() {
    @media screen and (max-width: 768px) {
        @content;
    }
}

$white: white;
$light: rgb(230, 230, 230);
$dark: #2E384B;

.container {
    width: 100%;
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: $white;

    @include mobile {
        padding: 2rem 4rem;
        flex-direction: row;
    }

    .title {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;

        @include mobile {
            margin-bottom: 0;
        }

        img {
            height: 2.5rem;
            margin-right: 0.5rem;
            display: none;

            @include mobile {
                display: block;
            }
        }
    
        h1 {
            text-transform: uppercase;
            font-size: 18px;
            text-align: center;
        }
    }
}

.subtitle {
    margin: 2rem 0 0 2rem;
    color: $white;
}