@import "../../style/App.scss"; 

.container-planet {    
    .title {
        width: 100%;
        height: 15rem;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        background-attachment: fixed;
        position: relative;

        .overlay {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.623);
        }

        h2 {
            z-index: 9;
            color: $white;
            text-transform: uppercase;
        }

        img {
            height: 140px;
            z-index: 9;
            position: absolute;
            bottom: -70px;
            
            @include mobile {
                height: 200px;
                left: 10%;
                bottom: -100px;
            }
        }
    }

    h3, li, p {
        color: $white;
    }
    
    .planet-infos {
        margin-left: 1rem;
        margin-top: 6rem;

        @include mobile {
            margin-top: 8rem;
            margin-left: 10%;
        }
        
        p {
            margin-bottom: 0.5rem;
        }
    }
}