@import "../../style/App.scss"; 

.container-planet {    
    .title {
        width: 100%;
        height: 15rem;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        background-attachment: fixed;
        position: relative;

        .overlay {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.375);
        }

        h2 {
            z-index: 9;
            color: $white;
            text-transform: uppercase;
        }
    }

    h3, li, p {
        color: $white;
    }

    .infos {
        margin: 2rem 1rem;

        @include smallMobile {
            margin: 4rem 0;
            display: flex;
            justify-content: center;
        }
    
        .planet-infos {
            max-width: auto;

            @include smallMobile {
                margin-right: 4rem;
                max-width: 300px;
            }

            img {
                width: 100%;
                margin-bottom: 1rem;

                @include smallMobile {
                    max-width: 300px;
                }
            }

            p {
                margin-bottom: 0.5rem;
            }
        }
    
        .moons-list {
            margin-top: 2rem;

            @include smallMobile {
                margin-top: 0;
            }

            ul {
                list-style: none;
            }

            h3 {
                margin-bottom: 1rem;
            }
        }
    }

    
}